.dashboard {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 0 50px;
}

.dashboard_text {
  width: 50%;
}
.dashboard_text > h1 {
  font-size: 65px;
  margin-bottom: 18px;
  opacity: 1;
  transform: none;
}
.dashboard_text > p {
  font-size: 18px;
}

.dashboard_image {
  width: 50%;
}

.dashboard_button {
  background: #1ab69d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 20px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}

.dashboard_button > .dashboard_icon {
  font-size: 17px;
  margin-left: 10px;
}
